:root {
  --dark-color: #341c0f;
  --normal-color: #5d321a;
  --light-color: #6b3c23;
  --lighter-color: #fdff91;
  --border-radius: 5px;
}

body {
  background-color: var(--dark-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form .input-group {
  display: flex;
  flex-direction: column;
}

.form .label {
  color: white;
  margin-bottom: 16px;
}

.form .input {
  background-color: var(--normal-color);
  border-radius: var(--border-radius);
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  color: white;
}

.form button {
  background-color: var(--lighter-color);
  border: none;
  border-radius: var(--border-radius);
  height: 40px;
  font-weight: bold;
  padding: 8px 32px;
}

.form__right-actions {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.tabs {
  border-radius: var(--border-radius);
}

.tabs__header {
  background: none;
}

.tabs__header ul {
  background-color: none;
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.tabs__header ul li {
  flex: 1;
}

.tabs__header ul li button {
  width: 100%;
  background-color: var(--normal-color);
  height: 48px;
  line-height: 48px;
  border: 0;
  color: white;
  cursor: pointer;
}

.tabs__header ul:first-child button {
  border-top-left-radius: 5px;
}
.tabs__header ul:last-child button {
  border-top-right-radius: 5px;
}
.tabs__header ul li button.selected {
  background-color: var(--light-color);
}

.tabs__content {
  background-color: var(--light-color);
  padding: 40px 64px;
}
